<div class="homePage">
  <div class="titleHome">
    <img src="../../assets/img/predio1.png" alt="GTA">

  </div>

  <div class="loginForm">
    <mat-card>
    <h1>Meu Imovel.io - Login</h1>
      <div class="formInputs">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Digite seu E-mail</mat-label>
            <input text matInput placeholder="Login">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Digite sua Senha</mat-label>
            <input matInput placeholder="Senha">
          </mat-form-field>
        </p>
      </div>
      <div class="formButton">
        <button class="botao1" mat-flat-button (click)="logarUsuario()" [routerLink]="['/cadastrolistaimoveis']">Entrar</button>
        <button class="botao1" mat-flat-button (click)="registrarUsuario()">Registrar</button>
      </div>
    </mat-card>
  </div>
</div>
