.card-imovel {
  margin: 10px;
  width: 150px;
  background-color:  #03001c;
}
img{
  height: 100px;
}
.card-image{
  display: block;
}
.componente{
  background-color: #1f5673;
  color: #f9f2e7;
}
